.images__container{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    column-count: 3;
    column-gap: 1rem;
}

@media screen and (max-width:1000px){
    .images__container{
        column-count: 2;
    }
}

@media screen and (max-width:740px){
    .images__container{
        column-count: 1;
    }
}

.scrollBtn {
  top:92%;
  right:2%;
position: fixed;
z-index: 99;
background-color:#222;
font-size: 10px;
border-radius:50%;
padding: 10px;
color:white
}